HW9/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.6/windows_amd64/terraform-provider-tls_v4.0.6_x5.exe
HW9/presets/.terraform.lock.hcl
HW9/presets/id_rsa_0
HW9/presets/id_rsa_0.pub
HW9/presets/id_rsa_1
HW9/presets/id_rsa_1.pub
HW9/terraform.tfstate
HW9/terraform.tfstate.backup
HW9/presets/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/windows_amd64/LICENSE.txt
HW9/presets/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/windows_amd64/terraform-provider-azurerm_v4.8.0_x5.exe
HW9/presets/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.2/windows_amd64/LICENSE.txt
HW9/presets/.terraform/providers/registry.terraform.io/hashicorp/local/2.5.2/windows_amd64/terraform-provider-local_v2.5.2_x5.exe
HW9/presets/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.6/windows_amd64/LICENSE.txt
HW9/presets/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.6/windows_amd64/terraform-provider-tls_v4.0.6_x5.exe
HW9/presets/terraform.tfstate.backup
HW9/presets/terraform.tfstate
HW9/.terraform/modules/modules.json
HW9/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/windows_amd64/LICENSE.txt
HW9/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.8.0/windows_amd64/terraform-provider-azurerm_v4.8.0_x5.exe
HW9/.terraform/providers/registry.terraform.io/hashicorp/tls/4.0.6/windows_amd64/LICENSE.txt
