<!DOCTYPE html>
<html>
<head>
    <title>Ansible the best</title>
</head>
<body>
    <h1>Ansible the best</h1>
    <p>Hostname: {{ ansible_hostname }}</p>
    <p>IP Address: {{ ansible_default_ipv4.address }}</p>
</body>
</html>
